<tr>
    <td>
        <div class="cart-info">
            <img class="me-2" src="https://placehold.co/100x100" alt="">
            <div>
                <p class="font-weight-bold">Product Name</p>
                <small>Price: R1300.00</small>
                <br>
                <a href="">Remove <i class="fa-solid fa-trash-can"></i></a>
            </div>
        </div>
    </td>
    <td><input type="number" name="" id="" value="1"></td>
    <td>R1300.00</td>
</tr>