<section id="cta" class="bg-dark">
    <div class="container text-white">
        <div class="row align-items-center">
            <div class="col-md-6 py-3">
                <img class="g-image" src="https://placehold.co/600x400" alt="call-to-action image">
            </div>
            <div class="col-md-6 py-3 text-md-end text-center">
                <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, aliquid!</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed inventore deleniti debitis atque neque maiores quisquam, quos ex saepe magnam?</p>
                <div class="button-wrapper">
                    <button class="btn btn-light me-1">Shop Men</button>
                    <button class="btn btn-light">Shop Women</button>
                </div>
            </div>
        </div>
    </div>
</section>