<section id="cta" class="bg-dark">
    <div class="container text-white">
        <div class="row align-items-center">
            <div class="col-md-6 py-3">
                <img class="g-image" src="/assets/images/mock_Shoes/shoe2.png" alt="call-to-action image">
            </div>
            <div class="col-md-6 py-3 text-md-end text-center">
                <h1>Step into Your Perfect Pair Today</h1>
                <p>Explore Shoe Haven's extensive range of stylish and comfortable footwear, and take the first step towards making every stride a fashion statement and a joy.</p>
                <div class="button-wrapper">
                    <a href="/products">
                        <button class="btn btn-light me-1">Shop Now</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>