<div class="filters-wrapper">
  <div class="filter-controls d-grid gap-2 pb-3">
        <button class="btn btn-primary">Apply Filters</button>
        <button class="btn btn-primary" onclick="clearAllFilters()">Clear Filters</button>
  </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Category
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
             <form action="" method="post">
              <% categoryResults.forEach((category) => {%>
               <%- include('sorting/category-filter', {category: category}) %> 
              <%});%>
             </form>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Gender
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p class="genderFilter" onclick="filterProductsByGender('All')">All <span><i class="fa-regular fa-face-smile"></i></span></p>
             <p class="genderFilter" onclick="filterProductsByGender('Female')">Female <span><i class="fa-solid fa-venus"></i></span></p>
             <p class="genderFilter" onclick="filterProductsByGender('Male')">Male <span><i class="fa-solid fa-mars"></i></span></p>
             <p class="genderFilter" onclick="filterProductsByGender('unisex')">Unisex <span><i class="fa-solid fa-venus-mars"></i></span></p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Price
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <form action="" method="post">
                <!-- for price range  -->
                <div class="minRangePrice pb-3">
                  <div class="justify-content-between row">
                    <label for="customRange3" class="form-label">Min Price</label>
                    <span class="priceView">0</span>
                  </div>
                  <input type="range" class="form-range" min="0" max="2000" step="500" id="minRangePrice" value="0">
                </div>
                <div class="maxRangePrice">
                  <div class="justify-content-between row">
                    <label for="customRange3" class="form-label">Max Price</label>
                    <span class="priceView">2000</span>
                  </div>
                  <input type="range" class="form-range" min="0" max="2000" step="500" id="maxRangePrice" value="2000">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              Colour
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <form action="" method="post" class="colorFilter">
                <div class="row">
                  <% groupColorResults.forEach((groupColor) => { %>
                    <div class="col-4">
                     <%- include('sorting/color-filter', {color : groupColor})%>
                    </div>
                    <% }) %>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
</div>