<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-6 py-3">
                <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, aliquid!</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed inventore deleniti debitis atque neque maiores quisquam, quos ex saepe magnam?</p>
                <div class="button-wrapper">
                    <a href="/products">
                        <button class="btn btn-dark me-1">Shop Now</button>
                    </a>
                </div>
            </div>
            <div class="col-md-6 py-3">
                <img class="g-image" src="/assets/images/mock_Shoes/shoe1.png" alt="hero image">
            </div>
        </div>
    </div>
</section>