<section id="hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 py-3">
                <h1>Discover Style and Comfort at Shoe Haven</h1>
                <p>At Shoe Haven, we meticulously curate a diverse collection of quality footwear to elevate your style, ensuring every step you take is a statement of fashion and comfort</p>
                <div class="button-wrapper">
                    <a href="/products">
                        <button class="btn btn-dark me-1">Shop Now</button>
                    </a>
                </div>
            </div>
            <div class="col-md-6 py-3">
                <img class="g-image" src="/assets/images/mock_Shoes/shoe1.png" alt="hero image">
            </div>
        </div>
    </div>
</section>