<section class="newsletter bg-dark">
    <div class="container py-3">
        <div class="row align-items-center">
            <div class="col-md-6 text-white">
                <h1>Join Our Newsletter and Stay Stylish with Shoe Haven Updates</h1>
                <p>Subscribe to Shoe Haven's newsletter for exclusive updates on the latest footwear trends, special offers, style tips, and much more. Join our fashion-forward community today</p>
            </div>
            <div class="col-md-6">
                <form action="" method="post" autocomplete="off" id="newsletter">
                    <div class="row py-5 align-items-center">
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input type="text" name="fname" class="form-control" placeholder="name@example.com">
                                <label for="fname">First Name</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input type="text" name="lname" class="form-control" placeholder="name@example.com">
                                <label for="lname">Last Name</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="email" name="email" class="form-control" placeholder="name@example.com">
                                <label for="email">Email address</label>
                            </div>
                        </div>
                            <div class="mb-3 d-grid">
                                <button class="btn btn-lg btn-warning">Subscribe</button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>