<section class="newsletter bg-dark">
    <div class="container py-3">
        <div class="row align-items-center">
            <div class="col-md-6 text-white">
                <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, assumenda.</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos numquam corporis nihil
                    suscipit?
                    Id, totam laborum repellat labore commodi voluptates nulla eaque eveniet vitae, eligendi aspernatur
                    ipsam expedita corporis possimus!</p>
            </div>
            <div class="col-md-6">
                <form action="" method="post" autocomplete="off">
                    <div class="row py-5 align-items-center">
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input type="text" name="fname" class="form-control" placeholder="name@example.com">
                                <label for="fname">First Name</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input type="text" name="lname" class="form-control" placeholder="name@example.com">
                                <label for="lname">Last Name</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="email" name="email" class="form-control" placeholder="name@example.com">
                                <label for="email">Email address</label>
                            </div>
                        </div>
                            <div class="mb-3 d-grid">
                                <button class="btn btn-lg btn-warning">Subscribe</button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>