
    <div class="card row_item row_itemLarge">
        <img src="https://via.placeholder.com/250x250" class="card-img-top" alt="Card Image">
        <div class="card-body text-start">
            <h5 class="card-title">Card Title</h5>
            <p class="card-text item-discription">Beutiful Silver necklace</p>
            <p class="item-price">R 1200.00</p>
            <a href="#" class="btn btn-primary">Button</a>
        </div>
    </div>