<!-- 
<div class="card row_item row_itemLarge">
    <img src="https://via.placeholder.com/250x250" class="card-img-top" alt="Card Image">
    <div class="card-body text-start">
        <h5 class="card-title">Card Title</h5>
        <p class="card-text item-discription">Beutiful Silver necklace</p>
        <p class="item-price">R 1200.00</p>
        <a href="#" class="btn btn-primary">Button</a>
    </div>
</div> -->
    
    <div class="row_item row_itemLarge">
        <div class="item-wrapper p-3">
            <img src="/assets/images/shoe.jpg" alt="" class="g-image item-image">
            <h5 class="pt-2">Shoe Name</h5>
            <span>Colours</span>
            <ul class="available-options-wrapper color-wrapper">
                <li>BU</li>
                <li>PK</li>
                <li>MG</li>
                <li>YL</li>
            </ul>
            <span>Sizes</span>
            <ul class="available-options-wrapper sizes-wrapper">
                <li>4</li>
                <li>5</li>
                <li>8</li>
                <li>10</li>
            </ul>
        </div>
    </div>