<div class="navbar bg-body-tertiary">
    <div class="container d-flex justify-content-end">
      <form id='shoe-search-form' class="col-12 col-md-auto d-flex justify-content-end" role="search">
        <input id="shoe-search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <div class="d-none d-md-flex justify-content-end">
        <%- include('sorting/sorting-dropdown') %>
      </div>
    </div>
</div>

<!-- sorting/sorting-dropdown -->