<%- include('partials/header') %>
<%- include('components/nav') %>

<section>
    <div class="container">
        <div class="row">
            <h1>About Page I Guess</h1>
        </div>
    </div>
</section>


<%- include('partials/footer') %>