<%- include('partials/header') %>
<%- include('components/nav') %>

<!-- remeber to adjust the styling on the team members for small screens. the second image must 
pull right then add the clear atribute to the other 2 divs -->

<section id="about-hero">
    <div class="container">
        <div class="row">
            <div class="col midcenter text-wrapper py-5">
                <h1>Shoe Haven</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
           <div class="col-lg-7 m-auto py-5 text-justify">


            <div class="row">
                <div class="col-12">
                    <h2>About Us</h2>
                    <p>At Shoe Haven, we're not just another footwear store; we're an independently-owned small and medium-sized enterprise (SME) that's passionate about bringing quality and style to your feet. Our journey began with a simple idea: to provide our community with a haven for shoes that combine comfort and fashion effortlessly.</p>
                </div>

                <div class="col-12">
                    <h4>Our Mission:</h4>
                    <p>Our mission is to elevate your style, one step at a time, by offering affordable, high-quality footwear that doesn't compromise on style. We aim to empower individuals to express themselves through their choice of footwear and help them stride confidently on every path they choose.</p>
                </div>

                <div class="col-12">
                    <h4>Our Vision:</h4>
                    <p>We envision a world where everyone has access to comfortable, stylish footwear that reflects their unique tastes and preferences. Shoe Haven aims to be the go-to destination for individuals seeking both classic and cutting-edge designs, ensuring their every step is a statement of fashion and comfort.</p>
                </div>

            </div>

           </div>
        </div>
    </div>
</section>

<%- include('components/newsletter') %>

<section id="core-values">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-7 m-auto text-justify">
                <h2>Core Values</h2>
                <p>Our core values guide our actions and decisions:</p>
                <p><span class="fw-bold fs-5">Quality:</span> We stand by the quality of our products and are committed to providing footwear that not only looks good but feels great.</p>
                <p><span class="fw-bold fs-5">Personalization:</span> We value each customer's unique needs and preferences. Our team is dedicated to providing personalized service to ensure you find the perfect pair.</p>
                <p><span class="fw-bold fs-5">Sustainability:</span> We support eco-friendly and socially responsible practices. We actively engage in sustainability initiatives to minimize our environmental footprint.</p>
                <p><span class="fw-bold fs-5">Community:</span> We believe in building strong, lasting relationships. As an SME, we embrace our local and global community, actively participating in initiatives that make a positive impact.</p>
            </div>
        </div>
    </div>
</section>

<section id="social-responsibilty">
    <div class="container py-5 text-center">
        <h2 class="pb-3">Social Responsibility</h2>
        <div class="row">
           <div class="col-lg-3 col-md-6"><i class="fa-sharp fa-solid fa-circle-info fa-2x"></i>
            <h5 class="pt-2">Resonsibility</h5>
            <p class="text-start py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla modi porro amet quos dignissimos omnis dicta labore est perspiciatis recusandae dolor mollitia possimus, magni debitis dolores hic iure facere minus.</p>
        </div>
           <div class="col-lg-3 col-md-6"><i class="fa-sharp fa-solid fa-circle-info fa-2x"></i>
            <h5 class="pt-2">Resonsibility</h5>
            <p class="text-start py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla modi porro amet quos dignissimos omnis dicta labore est perspiciatis recusandae dolor mollitia possimus, magni debitis dolores hic iure facere minus.</p>
        </div>
           <div class="col-lg-3 col-md-6"><i class="fa-sharp fa-solid fa-circle-info fa-2x"></i>
            <h5 class="pt-2">Resonsibility</h5>
            <p class="text-start py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla modi porro amet quos dignissimos omnis dicta labore est perspiciatis recusandae dolor mollitia possimus, magni debitis dolores hic iure facere minus.</p>
        </div>
           <div class="col-lg-3 col-md-6"><i class="fa-sharp fa-solid fa-circle-info fa-2x"></i>
            <h5 class="pt-2">Resonsibility</h5>
            <p class="text-start py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla modi porro amet quos dignissimos omnis dicta labore est perspiciatis recusandae dolor mollitia possimus, magni debitis dolores hic iure facere minus.</p>
        </div>
        </div>
    </div>
</section>

<section id="team-members">
    <div class="container">
        <h2 class="pb-4 text-center">Meet our Team</h2>
        <div class="row pb-5 text-justify">
            <div class="col-lg-3">
                <img class="g-image"src="https://placehold.co/300x300" alt="team-member-image">
            </div>
            <div class="col-lg-9">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, tenetur. Eos quis mollitia, nesciunt
                    quas saepe perspiciatis? Perspiciatis provident, quos amet quibusdam animi laboriosam sed nobis
                    aliquam cumque excepturi quasi officiis modi quis, magnam odio beatae eos, laudantium ipsum delectus
                    dicta magni! Beatae eligendi explicabo quibusdam, commodi, perferendis quam accusantium assumenda
                    delectus animi dolorum ad porro aut vitae fugiat sit.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita ratione voluptates possimus
                    excepturi cupiditate inventore explicabo exercitationem quod earum ducimus delectus obcaecati
                    debitis qui, accusamus quibusdam officiis. Molestiae distinctio dolore asperiores cupiditate
                    possimus perspiciatis iste necessitatibus exercitationem, quia unde voluptatum!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ratione distinctio error voluptates
                    omnis nihil neque eius! Eos, necessitatibus odio!</p>
            </div>
        </div>
        <div class="row pb-5 text-justify">
            <div class="col-lg-9">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, tenetur. Eos quis mollitia,
                    nesciunt quas saepe perspiciatis? Perspiciatis provident, quos amet quibusdam animi laboriosam
                    sed nobis aliquam cumque excepturi quasi officiis modi quis, magnam odio beatae eos, laudantium
                    ipsum delectus dicta magni! Beatae eligendi explicabo quibusdam, commodi, perferendis quam
                    accusantium assumenda delectus animi dolorum ad porro aut vitae fugiat sit.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita ratione voluptates possimus
                    excepturi cupiditate inventore explicabo exercitationem quod earum ducimus delectus obcaecati
                    debitis qui, accusamus quibusdam officiis. Molestiae distinctio dolore asperiores cupiditate
                    possimus perspiciatis iste necessitatibus exercitationem, quia unde voluptatum!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ratione distinctio error
                    voluptates omnis nihil neque eius! Eos, necessitatibus odio!</p>
            </div>
            <div class="col-lg-3">
                <img class="g-image"src="https://placehold.co/300x300" alt="team-member-image">
            </div>
        </div>
        <div class="row pb-5 text-justify">
            <div class="col-lg-3">
                <img class="g-image"src="https://placehold.co/300x300" alt="team-member-image">
            </div>
            <div class="col-lg-9">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, tenetur. Eos quis mollitia, nesciunt
                    quas saepe perspiciatis? Perspiciatis provident, quos amet quibusdam animi laboriosam sed nobis
                    aliquam cumque excepturi quasi officiis modi quis, magnam odio beatae eos, laudantium ipsum delectus
                    dicta magni! Beatae eligendi explicabo quibusdam, commodi, perferendis quam accusantium assumenda
                    delectus animi dolorum ad porro aut vitae fugiat sit.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita ratione voluptates possimus
                    excepturi cupiditate inventore explicabo exercitationem quod earum ducimus delectus obcaecati
                    debitis qui, accusamus quibusdam officiis. Molestiae distinctio dolore asperiores cupiditate
                    possimus perspiciatis iste necessitatibus exercitationem, quia unde voluptatum!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ratione distinctio error voluptates
                    omnis nihil neque eius! Eos, necessitatibus odio!</p>
            </div>
        </div>
</section>

<section id="unique-quote">
    <div class="container">
        <div class="row">
            <div class="col text-center midcenter text-wrapper py-5">
                <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non assumenda consequuntur harum.</h1>
            </div>
        </div>
    </div>
</section>


<section id="company-history">
    <div class="container pt-5">
        <div class="row">
            <div class="m-auto text-justify">
                <h2>Company History</h2>
                <p>Founded by a team of dedicated shoe enthusiasts, Shoe Haven has its roots firmly grounded in the belief that every individual should have access to affordable, high-quality footwear that doesn't compromise on style. As an SME, we take pride in being able to offer personalized service and handpicked selections, ensuring your shopping experience is as unique as the shoes we offer. Our journey has been marked by a commitment to quality, community, and the belief that style should be accessible to all. We're excited to continue this journey with you.</p>
               </div>
        </div>
    </div>
</section>


<%- include('partials/footer') %>