<%- include('partials/header') %>
<%- include('components/nav') %>

<!-- remeber to adjust the styling on the team members for small screens. the second image must 
pull right then add the clear atribute to the other 2 divs -->

<section id="about-hero">
    <div class="container">
        <div class="row">
            <div class="col midcenter text-wrapper py-5">
                <h1>Company Name</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
           <div class="col-lg-7 m-auto py-5 text-justify">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium omnis cupiditate laudantium maiores molestiae facilis possimus id commodi odit animi voluptatibus rerum qui libero eum, minus iusto suscipit similique, deserunt sed? Reiciendis, dolorum. Eveniet dicta illo voluptate culpa, ipsa minus?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, laudantium, culpa aliquam tempore similique consequuntur veniam asperiores nam expedita, obcaecati necessitatibus quam. Beatae suscipit fuga nisi nostrum soluta a inventore eveniet commodi mollitia! Magnam, laborum facilis dolorum explicabo reprehenderit odit fugiat, doloremque sint quae quasi ipsum inventore, temporibus eligendi ex quam dolore atque dignissimos ullam suscipit id voluptates. Neque, culpa.</p>
            <h4>Our Mission:</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum libero eligendi voluptatem earum voluptatum sapiente voluptates adipisci similique minus eveniet, explicabo soluta, perspiciatis blanditiis quo quia necessitatibus, exercitationem asperiores! Quam ipsa numquam incidunt beatae doloribus vitae asperiores. Optio numquam unde magnam, temporibus doloribus eaque, error iusto eos ducimus labore quasi doloremque! Facere, saepe, consectetur beatae delectus qui blanditiis accusantium placeat porro vel labore atque rem omnis molestias mollitia quod? Sunt eum maxime deleniti, fuga assumenda sapiente. Sint iure minima nam.</p>
            <h4>Our Vision:</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa et architecto repudiandae iste molestiae nostrum, molestias fuga cumque exercitationem eveniet reiciendis dolore ullam cupiditate impedit illum. Facere eius voluptas similique.</p>
           </div>
        </div>
    </div>
</section>

<%- include('components/newsletter') %>

<section id="core-values">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-7 m-auto text-justify">
                <h2>Core Values</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium omnis cupiditate laudantium maiores molestiae facilis possimus id commodi odit animi voluptatibus rerum qui libero eum, minus iusto suscipit similique, deserunt sed? Reiciendis, dolorum. Eveniet dicta illo voluptate culpa, ipsa minus?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum libero eligendi voluptatem earum voluptatum sapiente voluptates adipisci similique minus eveniet, explicabo soluta, perspiciatis blanditiis quo quia necessitatibus, exercitationem asperiores! Quam ipsa numquam incidunt beatae doloribus vitae asperiores. Optio numquam unde magnam, temporibus doloribus eaque, error iusto eos ducimus labore quasi doloremque! Facere, saepe, consectetur beatae delectus qui blanditiis accusantium placeat porro vel labore atque rem omnis molestias mollitia quod? Sunt eum maxime deleniti, fuga assumenda sapiente. Sint iure minima nam.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa et architecto repudiandae iste molestiae nostrum, molestias fuga cumque exercitationem eveniet reiciendis dolore ullam cupiditate impedit illum. Facere eius voluptas similique.</p>
               </div>
        </div>
    </div>
</section>

<section id="social-responsibilty">
    <div class="container py-5 text-center">
        <h2 class="pb-3">Social Responsibility</h2>
        <div class="row">
           <div class="col-lg-3 col-md-6"><i class="fa-sharp fa-solid fa-circle-info fa-2x"></i>
            <h5 class="pt-2">Resonsibility</h5>
            <p class="text-start py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla modi porro amet quos dignissimos omnis dicta labore est perspiciatis recusandae dolor mollitia possimus, magni debitis dolores hic iure facere minus.</p>
        </div>
           <div class="col-lg-3 col-md-6"><i class="fa-sharp fa-solid fa-circle-info fa-2x"></i>
            <h5 class="pt-2">Resonsibility</h5>
            <p class="text-start py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla modi porro amet quos dignissimos omnis dicta labore est perspiciatis recusandae dolor mollitia possimus, magni debitis dolores hic iure facere minus.</p>
        </div>
           <div class="col-lg-3 col-md-6"><i class="fa-sharp fa-solid fa-circle-info fa-2x"></i>
            <h5 class="pt-2">Resonsibility</h5>
            <p class="text-start py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla modi porro amet quos dignissimos omnis dicta labore est perspiciatis recusandae dolor mollitia possimus, magni debitis dolores hic iure facere minus.</p>
        </div>
           <div class="col-lg-3 col-md-6"><i class="fa-sharp fa-solid fa-circle-info fa-2x"></i>
            <h5 class="pt-2">Resonsibility</h5>
            <p class="text-start py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla modi porro amet quos dignissimos omnis dicta labore est perspiciatis recusandae dolor mollitia possimus, magni debitis dolores hic iure facere minus.</p>
        </div>
        </div>
    </div>
</section>

<section id="team-members">
    <div class="container">
        <h2 class="pb-4 text-center">Meet our Team</h2>
        <div class="row pb-5 text-justify">
            <div class="col-lg-3">
                <img class="g-image"src="https://placehold.co/300x300" alt="team-member-image">
            </div>
            <div class="col-lg-9">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, tenetur. Eos quis mollitia, nesciunt
                    quas saepe perspiciatis? Perspiciatis provident, quos amet quibusdam animi laboriosam sed nobis
                    aliquam cumque excepturi quasi officiis modi quis, magnam odio beatae eos, laudantium ipsum delectus
                    dicta magni! Beatae eligendi explicabo quibusdam, commodi, perferendis quam accusantium assumenda
                    delectus animi dolorum ad porro aut vitae fugiat sit.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita ratione voluptates possimus
                    excepturi cupiditate inventore explicabo exercitationem quod earum ducimus delectus obcaecati
                    debitis qui, accusamus quibusdam officiis. Molestiae distinctio dolore asperiores cupiditate
                    possimus perspiciatis iste necessitatibus exercitationem, quia unde voluptatum!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ratione distinctio error voluptates
                    omnis nihil neque eius! Eos, necessitatibus odio!</p>
            </div>
        </div>
        <div class="row pb-5 text-justify">
            <div class="col-lg-9">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, tenetur. Eos quis mollitia,
                    nesciunt quas saepe perspiciatis? Perspiciatis provident, quos amet quibusdam animi laboriosam
                    sed nobis aliquam cumque excepturi quasi officiis modi quis, magnam odio beatae eos, laudantium
                    ipsum delectus dicta magni! Beatae eligendi explicabo quibusdam, commodi, perferendis quam
                    accusantium assumenda delectus animi dolorum ad porro aut vitae fugiat sit.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita ratione voluptates possimus
                    excepturi cupiditate inventore explicabo exercitationem quod earum ducimus delectus obcaecati
                    debitis qui, accusamus quibusdam officiis. Molestiae distinctio dolore asperiores cupiditate
                    possimus perspiciatis iste necessitatibus exercitationem, quia unde voluptatum!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ratione distinctio error
                    voluptates omnis nihil neque eius! Eos, necessitatibus odio!</p>
            </div>
            <div class="col-lg-3">
                <img class="g-image"src="https://placehold.co/300x300" alt="team-member-image">
            </div>
        </div>
        <div class="row pb-5 text-justify">
            <div class="col-lg-3">
                <img class="g-image"src="https://placehold.co/300x300" alt="team-member-image">
            </div>
            <div class="col-lg-9">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, tenetur. Eos quis mollitia, nesciunt
                    quas saepe perspiciatis? Perspiciatis provident, quos amet quibusdam animi laboriosam sed nobis
                    aliquam cumque excepturi quasi officiis modi quis, magnam odio beatae eos, laudantium ipsum delectus
                    dicta magni! Beatae eligendi explicabo quibusdam, commodi, perferendis quam accusantium assumenda
                    delectus animi dolorum ad porro aut vitae fugiat sit.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita ratione voluptates possimus
                    excepturi cupiditate inventore explicabo exercitationem quod earum ducimus delectus obcaecati
                    debitis qui, accusamus quibusdam officiis. Molestiae distinctio dolore asperiores cupiditate
                    possimus perspiciatis iste necessitatibus exercitationem, quia unde voluptatum!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ratione distinctio error voluptates
                    omnis nihil neque eius! Eos, necessitatibus odio!</p>
            </div>
        </div>
</section>

<section id="unique-quote">
    <div class="container">
        <div class="row">
            <div class="col text-center midcenter text-wrapper py-5">
                <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non assumenda consequuntur harum.</h1>
            </div>
        </div>
    </div>
</section>


<section id="company-history">
    <div class="container pt-5">
        <div class="row">
            <div class="m-auto text-justify">
                <h2>Company History</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium omnis cupiditate laudantium maiores molestiae facilis possimus id commodi odit animi voluptatibus rerum qui libero eum, minus iusto suscipit similique, deserunt sed? Reiciendis, dolorum. Eveniet dicta illo voluptate culpa, ipsa minus?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum libero eligendi voluptatem earum voluptatum sapiente voluptates adipisci similique minus eveniet, explicabo soluta, perspiciatis blanditiis quo quia necessitatibus, exercitationem asperiores! Quam ipsa numquam incidunt beatae doloribus vitae asperiores. Optio numquam unde magnam, temporibus doloribus eaque, error iusto eos ducimus labore quasi doloremque! Facere, saepe, consectetur beatae delectus qui blanditiis accusantium placeat porro vel labore atque rem omnis molestias mollitia quod? Sunt eum maxime deleniti, fuga assumenda sapiente. Sint iure minima nam.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa et architecto repudiandae iste molestiae nostrum, molestias fuga cumque exercitationem eveniet reiciendis dolore ullam cupiditate impedit illum. Facere eius voluptas similique.</p>
               </div>
        </div>
    </div>
</section>


<%- include('partials/footer') %>