<%- include('partials/header') %>
<%- include('components/nav') %>

<section id="contact-hero">
    <div class="container">
        <div class="row">
            <div class="col midcenter text-wrapper py-5">
                <h1>Contact Us</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <!-- contact information side -->
            <div class="col-lg-6 info-side py-5">
                <h2>Contact Information</h2>
                <p>Feel free to reach out with any questions or inquiries. We're here to assist you!</p>
                <div class="row py-3">
                    <h3>Contact</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item"><a href="#" class="nav-link text-dark"><i class="fa-solid fa-phone"> </i> +27 11 987 456</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-dark"><i class="fa-solid fa-envelope"> </i> info@shoehaven.com</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-dark"><i class="fa-solid fa-location-dot"> </i> 71 Willow St, Lenasia, 1820</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-dark"><i class="fa-solid fa-globe"> </i> www.shoehaven.com</a></li>
                    </ul>
                </div>
                <div class="row pt-3">
                    <h3>Socilas</h3>
                    <div class="col">
                        <div id="twitter-social" class="social-icon d-inline pe-3"><a href="https://x.com" class="text-dark"><i class="fa-brands fa-twitter fa-2x"></i></div></a>
                        <div id="facebook-social" class="social-icon d-inline pe-3"><a href="https://facebook.com" class="text-dark"><i class="fa-brands fa-square-facebook fa-2x"></i></div></a>
                        <div id="instagram-social" class="social-icon d-inline pe-3"><a href="https://instagram.com" class="text-dark"><i class="fa-brands fa-instagram fa-2x"></i></div></a>
                    </div>
                </div>
            </div>
            <!-- message form side -->
            <div class="col-lg-6 message-side py-5">
                <form id="contact-form" autocomplete="off">
                    <h3 class="pb-3">Say something</h3>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="fullName" placeholder="Full Name" required>
                                <label for="fullName">Full Name</label>
                                <div class="invalid-feedback">
                                    <!--  -->
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" name="email" placeholder="Email" required>
                                <label for="email">Email</label>
                                <div class="invalid-feedback">
                                    <!--  -->
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="phone" placeholder="Phone" required>
                                <label for="phone">Phone</label>
                                <div class="invalid-feedback">
                                    <!--  -->
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <textarea class="form-control" name="message" placeholder="What is your question?" rows="3" required></textarea>
                                <div class="invalid-feedback">
                                    <!--  -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-lg btn-primary">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d596.6973752089493!2d27.84049376920401!3d-26.32184840563219!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95a7def52fff11%3A0x4f6ea11c6545be69!2sCr%C3%A9me%20Cafe!5e0!3m2!1sen!2sza!4v1697031961407!5m2!1sen!2sza" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>

<%- include('partials/footer') %>