<%- include('partials/header') %>
<%- include('components/nav') %>

<section id="contact-hero">
    <div class="container">
        <div class="row">
            <div class="col midcenter text-wrapper py-5">
                <h1>Contact Us</h1>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') %>