<%- include('partials/header') %>
<%- include('components/nav') %>

<section>
    <div class="container">
        <div class="row">

        </div>
    </div>
</section>


<%- include('partials/footer') %>