<%- include('partials/header') %>
<%- include('components/nav') %>

<section name="signup">
    <div class="container midcenter eighty-page">
        <div class="row">
            <form id="loginForm" action="" method="post" class="needs-validation col-lg-6 m-auto" autocomplete="off" novalidate>
                <h2>Login</h2>
                <div class="row">
                  
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" name="email" placeholder="Email" required>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="password" placeholder="Password" required>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div id="validationStatus" class="pb-3 text-danger d-none fw-bold">
                        <!-- Server response -->
                    </div>
                    <div class="col-12">
                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-lg btn-primary">Login</button>
                        </div>
                    </div>
                
                <p>Don't have an account? <a href="/signup">Sign-Up</a></p>
            </form>
        </div>
    </div>
</section>
<script src="/js/loginValidation.js"></script>
<%- include('partials/footer') %>