<%- include('partials/header') %>
<%- include('components/nav') %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 product-areas p-3">
                <div class="row text-center">
                    <div class="col-12 m-auto">
                        <!-- <h1>Image content here</h1> -->
                        <img src="/assets/images/shoe.jpg" alt="" class="big-product-image" />
                    </div>
                    <div class="col-12 m-auto">
                        <!-- <h1>Colour selectors here</h1> -->
                        <span>Colours</span>
                        <ul class="available-options-wrapper color-wrapper final-item-picker justify-content-center">
                            <li>BU</li>
                            <li>PK</li>
                            <li>MG</li>
                            <li>YL</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 product-areas px-3">
                <h3>Product name</h3>
                <span>price</span>
                <hr>
                <p>Product Discription: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consectetur earum minus impedit voluptate eum laborum. Et culpa quaerat, impedit incidunt nisi consequatur dolores non laudantium optio ullam earum eligendi.</p>
                <form action="" method="post">
                    <span>Sizes</span>
            <ul class="available-options-wrapper sizes-wrapper final-item-picker">
                <li>4</li>
                <li>5</li>
                <li>8</li>
                <li>10</li>
            </ul>
                </form>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>