<%- include('partials/header') %>
<%- include('components/nav') %>

<section name="signup">
    <div class="container midcenter eighty-page">
        <div class="row">
            <form action="/signup" method="post" id="signupForm" class="needs-validation col-lg-6 m-auto" autocomplete="off" novalidate>
                <h2>Sign-up</h2>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="fname" placeholder="First Name" required>
                            <label for="fname">First Name</label>
                            <div class="invalid-feedback">
                              Please enter your First name.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="lname" placeholder="Last Name" required>
                            <label for="lname">Last Name</label>
                            <div class="invalid-feedback">
                              Please enter your Last name.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="phone" placeholder="Cell Number" required>
                            <label for="phone">Cell Number</label>
                            <div class="invalid-feedback">
                               Incorrect cellphone format.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" name="email" placeholder="Email" required>
                            <label for="email">Email</label>
                            <div class="invalid-feedback">
                                Please enter a valid email address.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="password" placeholder="Password" required>
                            <label for="password">Password</label>
                            <div class="invalid-feedback">
                              Please enter your name.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-lg btn-primary">Sign-Up</button>
                        </div>
                    </div>
                </div>
                <p>Already have an account? <a href="/login">Login</a></p>
            </form>
        </div>
    </div>
</section>
<script src="/js/registerValidation.js"></script>
<%- include('partials/footer') %>