<%- include('partials/header') %>

<div class="row">
    <div class="div" style="min-height: 20vh; background-color: chartreuse;"></div>
    <div class="div" style="min-height: 60vh; background-color: brown;">
    <h1><%= pageTitle %></h1>
    </div>
    <div class="div" style="min-height: 20vh; background-color: chartreuse;"></div>
</div>


</body>

