/* ---------- Global styling ---------- */
.g-image{
    width: 100%;
    height: auto;
}/* makes an image 100% width and auto height */
.text-justify{
    text-align: justify;
}/*justifies the text */
.text-wrapper{
    min-height: 300px;
}/* wrapper encapsulating big text on a colored or image backgound */
.eighty-page{
    min-height: 80vh;
}/* forces an element to take 80% viewport height */
.midcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}/* aligns and justifies content to the middle & center of an element */


/* ---------- Homepage ---------- */
/* slider  --- */
.row_item{
    min-width: 306px;
    object-fit: contain;
    margin-right: 24px;
    transition: transform 450ms;
}
.row_items{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}


/* ---------- About-page ---------- */
/* Hero --- */
/* refactor this code into a class becuase it has sections from 2 pages (about and contact) */
#about-hero, #unique-quote, #contact-hero{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://cdn.stocksnap.io/img-thumbs/960w/pink%20rose-silver_AB55BXZIXF.jpg");
    background-attachment: fixed;
    color: whitesmoke;
}