<div class="form-check">
    <input class="form-check-input" type="checkbox" name="checkCategory" value="<%= category.category_name %>" checked>
    <label class="form-check-label">
      <%= category.category_name %>
    </label>
</div>