<!-- Example single danger button -->
<div class="btn-group">
    <button type="button" class="btn btn-outline-dark sorting-buttons dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Sort
    </button>
    <form action="" class="dropdown-menu">
        <div class="dropdown-item">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Default radio
                </label>
              </div>
        </div>
        <div class="dropdown-item">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Default radio
                </label>
              </div>
        </div>
        <div class="dropdown-item">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Default radio
                </label>
              </div>
        </div>
        <div class="dropdown-item">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Default radio
                </label>
              </div>
        </div>
        
    </form>
</div>