<!-- Example single danger button -->
<div class="btn-group">
    <button type="button" class="btn btn-outline-dark sorting-buttons dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Sort
    </button>
    <form action="" class="dropdown-menu">
        <%- include('dropdown-item') %>
        <%- include('dropdown-item') %>
        <%- include('dropdown-item') %>
        <%- include('dropdown-item') %>        
    </form>
</div>